@import '../variables.scss';

.rightColumn {
  width: 100%;
  background-color: $second-color;
  &__img {
    overflow: hidden;
    border-bottom: 1px solid $third-color;
  }
}
.image {
  display: block;
  position: relative;
  width: 450px;
  height: 280px;
}
.img {
  object-fit: cover;
  scale: 1;
  &:hover {
    cursor: pointer;
    scale: 1.2;
    transition: 2s;
  }
}