$primary-color: #232931;
$second-color: #393e46;
$third-color: #4ecca3;
$fourth-color: #eeeeee;
$back-color: #d0d0d0;

$xxxl: 1600px;
$xxl: 1400px;
$xl: 1200px;
$max-width: 1100px;
$lg: 992px;
$lm: 800px;
$md: 768px;
$sm: 576px;

$offset: 450px;
